extends ../layout
include ../mixin/form-group

block content
  .container
    .row.justify-content-center.mb-10 用户注册
    .row.justify-content-center
      .wd-login
        #error.alert.alert-danger.hide
        form(action="/user/register" method="POST")
          .form-group
            label(for="username") 用户名
            input.form-control(id="username" placeholder="用户名" type="text")
          .form-group
            label(for="password") 密码
            input.form-control(id="password" placeholder="密码" type="password")
          .form-group
            label(for="email") 邮箱
            input.form-control(id="email" placeholder="邮箱" type="email")
          button.btn.btn-success.mb-20.wd-10(id="btn" type="submit") 注册
            
block script
  script
    :uglify
      $(function () {
        var username = $('#username');
        var password = $('#password');
        var email = $('#email');
        var error = $('#error');
        var btn = $('.btn');
        $('form').submit(function (event) {
          event.preventDefault();
          var user = $.trim(username.val());
          var userlen = user.length;
          if(userlen == 0){
            error.text('用户名不能为空').show();
            username.focus();
            return false;
          }
          if(userlen < 5){
            error.text('用户名不能小于5个字符').show();
            username.focus();
            return false;          
          }
          var pass = $.trim(password.val());
          var passlen = pass.length;
          if(passlen == 0){
            error.text('密码不能为空').show();
            password.focus();
            return false;          
          }
          if(passlen < 6){
            error.text('密码不能小于6个字符').show();
            password.focus();
            return false;          
          }
          var emailStr = $.trim(email.val());
          if(emailStr.length == 0){
            error.text('邮箱不能为空').show();
            email.focus();
            return false;
          }
          btn.attr('disabled', true);

          $.ajax({
            url: '/user/register',
            type: 'POST',
            dataType: 'json',
            data:  {
              password: pass,
              username: user,
              email: emailStr
            },
            complete: function () {
              btn.attr('disabled', false);
            },
            success: function (data) {
              if(data.status != 0) {
                error.text(data.message).show();
                return false;
              } else {
                alert('注册成功，请登录！');
                location.href = '/user/login';
              }

            }
          });
        });
      });
    
          
  
